<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kitchener</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        var themeColor = "Navy";
        var brandName = "Kitchener";
    }
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:@themeColor;">

            @Html.ActionLink(brandName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Inventory</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Add Stock", "Stock", "Inventory", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Add SKU", "AddSku", "Inventory", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("View/Audit Inventory", "FullInv", "Inventory", null, new { @class = "dropdown-item" })

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Recipes</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Add Recipe", "Add", "Recipe", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Cook Recipe", "Cook", "Recipe", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item">@Html.ActionLink("Go Shopping", "Index", "Shopping", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
